<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {% block head_extra %}{% endblock %}
    </head>
<body>

<div class="container-flex">
    {% include "partials/_header.html" %}

    <main>
        {% block content %}{% endblock %}
    </main>
</div>


{% include "partials/_footer.html" %}

<script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% block scripts %}{% endblock %}

</body>
</html>