version: "3.3"
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: agri-ai-web
    env_file:
      - .env
    environment:
      FLASK_APP: ${FLASK_APP}
      FLASK_ENV: ${FLASK_ENV}
      MYSQL_HOST: db
      MYSQL_PORT: 3306
      MYSQL_DB: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "5000:5000"
    volumes:
      - ./app:/code/app:rw
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: agri-mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}     # p.ex.: agro_digital
      MYSQL_USER: ${MYSQL_USER}             # p.ex.: appuser
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}     # p.ex.: agro_pass
    ports:
      - "3307:3306"
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - mysql-data:/var/lib/mysql
      - ./app/db/migrations:/docker-entrypoint-initdb.d:ro

volumes:
  mysql-data:
